In [1]:
#libraries and data imports

import numpy as np # linear algebra

import pandas as pd # data processing, CSV file I/O 

from matplotlib import pyplot as plt

import seaborn as sns

from sklearn.preprocessing import LabelEncoder

import copy

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

airlinedata = pd.read_csv("Predict Price of Airline Tickets.csv")

airlinedata#this will be our main data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [2]:
#this will be our data used for the machine learing

airlinedata_encoded = copy.deepcopy(airlinedata)

airlinedata_encoded

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [3]:
airlinedata_encoded.isnull().sum()#finding the how many null values we have

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [4]:
airlinedata_encoded.dropna(inplace= True)#as they are low in number we drop thenm

airlinedata_encoded.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [5]:
#we will seperate the date of journey to 2 integer values in day and month to ease the processing

airlinedata_encoded["Day_of_Journey"]=airlinedata_encoded.Date_of_Journey.str.split("/").str[0].astype(int)

airlinedata_encoded["Month_of_Journey"]=airlinedata_encoded.Date_of_Journey.str.split("/").str[1].astype(int)

#we drop the coulmns we replaced 

airlinedata_encoded.drop(["Date_of_Journey"], axis = 1, inplace = True)

In [6]:
airlinedata_encoded

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4
10679,Air India,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3
10682,Air India,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5

In [7]:
#like we did with the date we will do with the depature time and arrival time but to hours and mintes

airlinedata_encoded["Departure_Hour"]=0

airlinedata_encoded["Departure_Min"]=0

airlinedata_encoded["Arrival_Hour"]=0

airlinedata_encoded["Arrival_Min"]=0

#we made a coulmn for each with the above lines so we can access them with indexes in the for loop

for i in range(9039):#will raise error at 9039 because it was removed when we droped the nulls
    
    airlinedata_encoded.at[i,"Departure_Hour"]=int(airlinedata_encoded.at[i,"Dep_Time"].split(":")[0])
    
    airlinedata_encoded.at[i,"Departure_Min"]=int(airlinedata_encoded.at[i,"Dep_Time"].split(":")[1])
    
    airlinedata_encoded.at[i,"Arrival_Hour"]=int(airlinedata_encoded.at[i,"Arrival_Time"].split(":")[0])
    
    airlinedata_encoded.at[i,"Arrival_Min"]=int(airlinedata_encoded.at[i,"Arrival_Time"].split(":")[1].split()[0])
    
    #the last split in the arrival mins to remove the unneeded date
    
    
for i in range(9040,len(airlinedata_encoded)+1):#so we stop before 9039 and continue after it
    
    airlinedata_encoded.at[i,"Departure_Hour"]=int(airlinedata_encoded.at[i,"Dep_Time"].split(":")[0])
    
    airlinedata_encoded.at[i,"Departure_Min"]=int(airlinedata_encoded.at[i,"Dep_Time"].split(":")[1])
    
    airlinedata_encoded.at[i,"Arrival_Hour"]=int(airlinedata_encoded.at[i,"Arrival_Time"].split(":")[0])
    
    airlinedata_encoded.at[i,"Arrival_Min"]=int(airlinedata_encoded.at[i,"Arrival_Time"].split(":")[1].split()[0])

airlinedata_encoded

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Departure_Hour,Departure_Min,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,19,55,22,25
10679,Air India,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,20,45,23,20
10680,Jet Airways,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,8,20,11,20
10681,Vistara,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3,11,30,14,10
10682,Air India,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,10,55,19,15

In [8]:
#we drop the coulmns we replaced 

airlinedata_encoded.drop(["Dep_Time"], axis = 1, inplace = True)

airlinedata_encoded.drop(["Arrival_Time"], axis = 1, inplace = True)

In [9]:
airlinedata_encoded.Total_Stops.unique()#we have a look at the unique values of the total stops

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [10]:
#we will use the numbers already listed in it by seperating the int from the string and if it is a non stop we replace with 0

for i in range(9039):#will raise error at 9039 because it was removed when we droped the nulls
    
    if airlinedata_encoded.Total_Stops.at[i]=='non-stop':
        
        airlinedata_encoded.Total_Stops.at[i]=0
        
    else:
        
        airlinedata_encoded.Total_Stops.at[i]=int(airlinedata_encoded.Total_Stops.at[i].split()[0])
        

for i in range(9040,len(airlinedata_encoded)+1):
    
    if airlinedata_encoded.Total_Stops.at[i]=='non-stop':
        
        airlinedata_encoded.Total_Stops.at[i]=0
        
    else:
        
        airlinedata_encoded.Total_Stops.at[i]=int(airlinedata_encoded.Total_Stops.at[i].split()[0])

In [11]:
airlinedata_encoded.Total_Stops=pd.to_numeric(airlinedata_encoded.Total_Stops)#to change the data type to int

airlinedata_encoded.Total_Stops

0        0
1        2
2        2
3        1
4        1
        ..
10678    0
10679    0
10680    0
10681    0
10682    2
Name: Total_Stops, Length: 10682, dtype: int64

In [12]:
#here we seperate the route coulmn to 5 route points which is the maximum number of routes

airlinedata_encoded['Route1']=airlinedata_encoded['Route'].str.split('?').str[0]#we use the split and split with the mark between them

airlinedata_encoded['Route2']=airlinedata_encoded['Route'].str.split('?').str[1]

airlinedata_encoded['Route3']=airlinedata_encoded['Route'].str.split('?').str[2]

airlinedata_encoded['Route4']=airlinedata_encoded['Route'].str.split('?').str[3]

airlinedata_encoded['Route5']=airlinedata_encoded['Route'].str.split('?').str[4]

for i in ['Route1', 'Route2', 'Route3', 'Route4', 'Route5']:#and then we encode them from strings to numbers
    
    airlinedata_encoded[i]=LabelEncoder().fit_transform(airlinedata_encoded[i])

airlinedata_encoded

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Departure_Hour,Departure_Min,Arrival_Hour,Arrival_Min,Route1,Route2,Route3,Route4,Route5
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,0,No info,3897,24,3,22,20,1,10,0,13,29,13,5
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,2,No info,7662,1,5,5,50,13,15,2,25,1,3,5
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,19h,2,No info,13882,9,6,9,25,4,25,3,32,4,5,5
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,5h 25m,1,No info,6218,12,5,18,5,23,30,2,34,3,13,5
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,4h 45m,1,No info,13302,1,3,16,50,21,35,0,34,8,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU ? BLR,2h 30m,0,No info,4107,9,4,19,55,22,25,2,5,29,13,5
10679,Air India,Kolkata,Banglore,CCU ? BLR,2h 35m,0,No info,4145,27,4,20,45,23,20,2,5,29,13,5
10680,Jet Airways,Banglore,Delhi,BLR ? DEL,3h,0,No info,7229,27,4,8,20,11,20,0,13,29,13,5
10681,Vistara,Banglore,New Delhi,BLR ? DEL,2h 40m,0,No info,12648,1,3,11,30,14,10,0,13,29,13,5
10682,Air India,Delhi,Cochin,DEL ? GOI ? BOM ? COK,8h 20m,2,No info,11753,9,5,10,55,19,15,3,16,4,5,5

In [13]:
#we drop the coulmn as we don't need route because we mainly need the number of stops and destnation and source from the other coulmns

#and the duration can be transformed to number of mins

airlinedata_encoded.drop(["Route"], axis = 1, inplace = True)

airlinedata_encoded["Duration"]=airlinedata_encoded['Duration'].str.replace("h", '*60').str.replace(' ','+').str.replace('m','*1').apply(eval)

In [14]:
airlinedata_encoded

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Departure_Hour,Departure_Min,Arrival_Hour,Arrival_Min,Route1,Route2,Route3,Route4,Route5
0,IndiGo,Banglore,New Delhi,170,0,No info,3897,24,3,22,20,1,10,0,13,29,13,5
1,Air India,Kolkata,Banglore,445,2,No info,7662,1,5,5,50,13,15,2,25,1,3,5
2,Jet Airways,Delhi,Cochin,1140,2,No info,13882,9,6,9,25,4,25,3,32,4,5,5
3,IndiGo,Kolkata,Banglore,325,1,No info,6218,12,5,18,5,23,30,2,34,3,13,5
4,IndiGo,Banglore,New Delhi,285,1,No info,13302,1,3,16,50,21,35,0,34,8,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,150,0,No info,4107,9,4,19,55,22,25,2,5,29,13,5
10679,Air India,Kolkata,Banglore,155,0,No info,4145,27,4,20,45,23,20,2,5,29,13,5
10680,Jet Airways,Banglore,Delhi,180,0,No info,7229,27,4,8,20,11,20,0,13,29,13,5
10681,Vistara,Banglore,New Delhi,160,0,No info,12648,1,3,11,30,14,10,0,13,29,13,5
10682,Air India,Delhi,Cochin,500,2,No info,11753,9,5,10,55,19,15,3,16,4,5,5

In [15]:
airlinedata_encoded.Additional_Info.unique()#checking the additional info uniques

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [16]:
#in the additional info there exists same value but just different case sensitfty so we equalize them using the lower function

for i in range(9039):
    
    airlinedata_encoded.Additional_Info.at[i]=airlinedata_encoded.Additional_Info.at[i].lower()
        

for i in range(9040,len(airlinedata_encoded)+1):
    
    airlinedata_encoded.Additional_Info.at[i]=airlinedata_encoded.Additional_Info.at[i].lower()

In [17]:
airlinedata_encoded.Additional_Info.unique()

array(['no info', 'in-flight meal not included',
       'no check-in baggage included', '1 short layover',
       '1 long layover', 'change airports', 'business class',
       'red-eye flight', '2 long layover'], dtype=object)

In [18]:
#here we use the one-hot encoding method to encode the Airline,Source,Destination,Additional_Info coulmns

Airline=pd.get_dummies(airlinedata_encoded[['Airline','Source','Destination','Additional_Info']]) 

airlinedata_encoded=pd.concat([airlinedata_encoded, Airline],axis=1)

#and then drop them

airlinedata_encoded.drop(['Airline','Source','Destination','Additional_Info'], axis = 1, inplace = True)

In [19]:

airlinedata_encoded

,Duration,Total_Stops,Price,Day_of_Journey,Month_of_Journey,Departure_Hour,Departure_Min,Arrival_Hour,Arrival_Min,Route1,...,Destination_New Delhi,Additional_Info_1 long layover,Additional_Info_1 short layover,Additional_Info_2 long layover,Additional_Info_business class,Additional_Info_change airports,Additional_Info_in-flight meal not included,Additional_Info_no check-in baggage included,Additional_Info_no info,Additional_Info_red-eye flight
0,170,0,3897,24,3,22,20,1,10,0,...,1,0,0,0,0,0,0,0,1,0
1,445,2,7662,1,5,5,50,13,15,2,...,0,0,0,0,0,0,0,0,1,0
2,1140,2,13882,9,6,9,25,4,25,3,...,0,0,0,0,0,0,0,0,1,0
3,325,1,6218,12,5,18,5,23,30,2,...,0,0,0,0,0,0,0,0,1,0
4,285,1,13302,1,3,16,50,21,35,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,150,0,4107,9,4,19,55,22,25,2,...,0,0,0,0,0,0,0,0,1,0
10679,155,0,4145,27,4,20,45,23,20,2,...,0,0,0,0,0,0,0,0,1,0
10680,180,0,7229,27,4,8,20,11,20,0,...,0,0,0,0,0,0,0,0,1,0
10681,160,0,12648,1,3,11,30,14,10,0,...,1,0,0,0,0,0,0,0,1,0
10682,500,2,11753,9,5,10,55,19,15,3,...,0,0,0,0,0,0,0,0,1,0

In [20]:
#here we will remove the outliers of the price and duration using the iqr method

for x in ["Price","Duration"]:
    
    q75,q25 = np.percentile(airlinedata_encoded.loc[:,x],[75,25])
    
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    
    min = q25-(1.5*intr_qr)
 
    airlinedata_encoded.loc[airlinedata_encoded[x] < min,x] = np.nan#and here we replace them with nans
    
    airlinedata_encoded.loc[airlinedata_encoded[x] > max,x] = np.nan

airlinedata_encoded.dropna(inplace= True)#and drop them with the drop na method

In [21]:
#now we seperate our x and y data

y = airlinedata_encoded["Price"]

airlinedata_encoded.drop(["Price"], axis = 1, inplace = True)

X = airlinedata_encoded

X

,Duration,Total_Stops,Day_of_Journey,Month_of_Journey,Departure_Hour,Departure_Min,Arrival_Hour,Arrival_Min,Route1,Route2,...,Destination_New Delhi,Additional_Info_1 long layover,Additional_Info_1 short layover,Additional_Info_2 long layover,Additional_Info_business class,Additional_Info_change airports,Additional_Info_in-flight meal not included,Additional_Info_no check-in baggage included,Additional_Info_no info,Additional_Info_red-eye flight
0,170.0,0,24,3,22,20,1,10,0,13,...,1,0,0,0,0,0,0,0,1,0
1,445.0,2,1,5,5,50,13,15,2,25,...,0,0,0,0,0,0,0,0,1,0
2,1140.0,2,9,6,9,25,4,25,3,32,...,0,0,0,0,0,0,0,0,1,0
3,325.0,1,12,5,18,5,23,30,2,34,...,0,0,0,0,0,0,0,0,1,0
4,285.0,1,1,3,16,50,21,35,0,34,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,150.0,0,9,4,19,55,22,25,2,5,...,0,0,0,0,0,0,0,0,1,0
10679,155.0,0,27,4,20,45,23,20,2,5,...,0,0,0,0,0,0,0,0,1,0
10680,180.0,0,27,4,8,20,11,20,0,13,...,0,0,0,0,0,0,0,0,1,0
10681,160.0,0,1,3,11,30,14,10,0,13,...,1,0,0,0,0,0,0,0,1,0
10682,500.0,2,9,5,10,55,19,15,3,16,...,0,0,0,0,0,0,0,0,1,0

In [22]:
#and then seperate them to train and test 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 1)

X_train

,Duration,Total_Stops,Day_of_Journey,Month_of_Journey,Departure_Hour,Departure_Min,Arrival_Hour,Arrival_Min,Route1,Route2,...,Destination_New Delhi,Additional_Info_1 long layover,Additional_Info_1 short layover,Additional_Info_2 long layover,Additional_Info_business class,Additional_Info_change airports,Additional_Info_in-flight meal not included,Additional_Info_no check-in baggage included,Additional_Info_no info,Additional_Info_red-eye flight
6466,1225.0,1,18,5,8,0,4,25,3,7,...,0,0,0,0,0,0,1,0,0,0
3895,395.0,1,6,3,21,50,4,25,3,7,...,0,0,0,0,0,0,1,0,0,0
8139,340.0,1,9,5,16,45,22,25,3,6,...,0,0,0,0,0,0,0,0,1,0
2479,1640.0,1,9,6,17,0,20,20,2,14,...,0,0,0,0,0,0,0,0,1,0
3318,780.0,1,1,6,8,0,21,0,3,7,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,1350.0,1,6,5,9,25,7,55,2,7,...,0,0,0,0,0,0,0,0,1,0
7934,170.0,0,6,6,5,10,8,0,3,10,...,0,0,0,0,0,0,0,0,1,0
916,395.0,1,3,3,19,0,1,35,3,7,...,0,0,0,0,0,0,0,0,1,0
5267,300.0,1,12,5,4,50,9,50,2,20,...,0,0,0,0,0,0,0,0,1,0
237,835.0,1,18,5,7,5,21,0,3,7,...,0,0,0,0,0,0,0,0,1,0

In [23]:
#now we make our linearregression training model

regressor = LinearRegression()

regressor.fit(X_train, y_train)

LinearRegression()

In [24]:
#here we predict the test resaults

y_pred = regressor.predict(X_test)

y_pred

array([ 5262.55227846,  9621.13019308,  3861.69855155, ...,
        7217.92728636,  4399.18752133, 11187.39140201])

In [25]:
#this is our model's score

print('Training Score :',regressor.score(X_train, y_train)*100,'%')

print('Test Score     :',regressor.score(X_test, y_test)*100,'%')

Training Score : 72.09054186400456 %
Test Score     : 71.7445106424507 %